// Header styles
.header-wrapper {
  padding: 25px 0px;
}
.nav-menu {
  justify-content: center;
  @media screen and (max-width: 600px) {
    flex-direction: column !important;
  }
  a {
    font-size: 16px;
    text-decoration: none;
    font-weight: 500;
    color: var(--text-primary);
  }
}
.nav-buttons {
  text-align: right;
  .MuiButtonBase-root {
    margin-left: 10px;
    color: var(--blue-primary);
    border-color: var(--blue-primary);
    &.btn-login {
      color: var(--white-color);
    }
    @media screen and (max-width: 600px) {
      display: block;
      width: 100%;
      margin-top: 15px;
      margin-left: 0px;
    }
  }
}

.MuiDrawer-paper {
  min-width: 250px;
  padding: 25px;
}